* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {

    display: flex;
    justify-content: center;
    flex-direction: column;    
    min-height: 100vh;
    min-width: 100vw;
    padding: 24px 16px;
    background-image: url(/images/bkg.png);
    gap: 150px;

  }

.landing-page {

    display: flex;
    flex-direction: row;    
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

  }

  .a-content {

    display: flex;
    flex-direction: row;    
    gap: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;

  }

  a {

    border: solid 1px white;
    padding: 15px;
    text-decoration: none;
    border-radius: 15px;
    background-color: black;
    color: azure;       

  }

